flask
flask_restful
mongoengine
mongoengine_goodjson
flask-mongoengine
flask-marshmallow
flask-bcrypt
flask-jwt-extended==3.25.1
requests
python-dateutil
# Data and workers.
redis==3.5.3
celery==4.4.6
# Application server for both development and production.
gunicorn==20.0.4
google-auth
google-cloud-texttospeech
goose3<4.0.0,>=3.1.6
pydub